PORT=3001
NODE_ENV=development
JWT_SECRET=generate_with_crypto_randomBytes_64
DATABASE_URL="postgresql://user:password@localhost:5432/netguard?schema=public"
REDIS_URL="redis://localhost:6379"
VIRUSTOTAL_API_KEY=
IPINFO_TOKEN=